{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endif %}
        </div>
    </div>
  {% for p in posts %}
    {{ p.render() | safe }}
    <div class="row">
        <div class="col-md-6 post-form">
            <form method="post">
                {% set liked = [0] %}
                {% for l in likes if l.post.key().id() == p.key().id() %}
                	{% if l.username|string == username|string %}
                		{% set __ = liked.append(1) %}
                	{% endif %}
                	{% if loop.last %}
                		{% if liked | length > 1 %}
                			<a class="like-link" href="/blog/unlike/{{p.key().id()}}">Unlike</a><span class="like-count">{{ loop.length }}</span>
                		{% else %}
                			<a class="like-link" href="/blog/like/{{p.key().id()}}">Like</a><span class="like-count">{{ loop.length }}</span>
                		{% endif %}
                	{% endif %}
                {% else %}
                	<a class="like-link" href="/blog/like/{{p.key().id()}}">Like</a><span class="like-count">0</span>  
                {% endfor %}
            	<a class="btn btn-default" href="/blog/addcomment/{{p.key().id()}}">Add a comment</a>
            </form>
        </div>
    </div>
    <!--COMMENTS-->
    <div id="comments-section">
        {% for c in comments if c.post.key().id() == p.key().id() %}      
            {{ c.render() | safe }}
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-md-6 post-form">
                    {% set comments_liked = [0] %}
                    {% for cl in commentlikes if cl.comment.key().id() == c.key().id() %}
                        {% if cl.username|string == username|string %}
                            {% set __ = comments_liked.append(1) %}
                        {% endif %}
                        {% if loop.last %}
                            {% if comments_liked | length > 1 %}
                                <a class="like-link" href="/blog/comment/unlike/{{c.key().id()}}">Unlike</a><span class="like-count">{{ loop.length }}</span>
                            {% else %}
                                <a class="like-link" href="/blog/comment/like/{{c.key().id()}}">Like</a><span class="like-count">{{ loop.length }}</span>
                            {% endif %}
                        {% endif %}
          
                    {% else %}
                        <a class="like-link" href="/blog/comment/like/{{c.key().id()}}">Like</a><span class="like-count">0</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
	</div>
  {% endfor %}
{% endblock %}
