{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h2>Signup</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        {% if error_username or error_password or error_verify or error_email %}
          <div class="alert alert-danger" role="alert">
            {{error_username}} <br>
            {{error_password}} <br>
            {{error_verify}} <br>
            {{error_email}}
          </div>
        {% endif %}
        <form method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type ="text" maxlength="250" class="form-control" name="username" value="{{username}}">

            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" value="">

            <label for="verify">Verify Password:</label>
            <input type="password" class="form-control" name="verify" value="">

            <label for="verify">Email (optional):</label>
            <input type="text" class="form-control" name="email" value="{{email}}">
            <input class="btn btn-default" type="submit">      
          </div>
        </form>
      </div>
  </div>
{% endblock %}

